h1 {
  font-size: 25px;
}

.logo {
  height: auto;
  width: 35px;
}

#mainnav {
  display: flex;
}

#mainnav a.active {
  text-decoration: none;
  color: goldenrod;
}

#mainnav a {
  text-decoration: none;
  color: white;
}